{% extends "base.htm" %}
{% block body %}
	{% if form.errors %}
		<p>Sorry that is not a valid username or password.</p>
	{% endif %}
	
	<form action= "" method="post">
		<label for="username">User name:</label>
		<input type="text" name="username" value="" id="username"><br>
		<label for="password">Password:</label>
		<input type="password" name="password" value="" id="password">
		
		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{% url index %}" />
	</form>

{% endblock body %}