{% extends "base.htm" %}
{% load currency %}

{% block body %}

{% if user.is_authenticated %}
	
	<h2 align="center">Overall Budget - By Category</h2>
	<h3 align="center">{{term}} - {{year}}</h3>
	<p align="center">[<a href = "{% url overview_page year=prev_year term=prev_term %}">Previous Term</a>]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[<a href = "{% url overview_page year=next_year term=next_term %}">Next Term</a>]</p>
	
	<table align = "center">
	<tr>
	<td align="center"><i>Budgeted Income Breakdown</i></td>
	<td align="center"><i>Budgeted Expenditure Breakdown</i></td>
	</tr>
	<tr>
	<td>{% if income_chart %}<img src="{{income_chart}}" alt="Income Breakdown" />{% endif %}</td>
	<td>{% if expenditure_chart %}<img src="{{expenditure_chart}}" alt="Expenditure Breakdown" />{% endif %}</td>
	<tr>
	</table>
	
	<br><table class="summary" width=500 cellpadding=3 align="center">
	<tr><td><h3>Income Items</h3></td><td></td></tr>
	<tr>
		<td><b>Category</b></td>
		<td><b>Budgeted Amount</b></td>
		<td><b>Actual Amount</b></td>
	</tr>
	{% for i in budget_actual_in_cat_table %}
	<tr>
		<td>{{i.category}}</td>
		<td align='right'>{{i.budgeted|currency}}</td>
		<td align='right'>{{i.actual|currency}}</td>

	</tr>
	{% endfor %}
	<tr>
		<td><b>Total</b></td>
		<td align='right'><b>{{sum_budget_in|currency}}</b></td>
		<td align='right'><b>{{sum_actual_in|currency}}</b></td>
	</tr>
	<tr><td><br><br><h3>Expenditure Items</h3></td><td></td></tr>
	<tr>
		<td><b>Category</b></td>
		<td><b>Budgeted Amount</b></td>
		<td><b>Actual Amount</b></td>
	</tr>
	{% for i in budget_actual_ex_cat_table %}
	<tr>
		<td>{{i.category}}</td>
		<td align='right'>{{i.budgeted|currency}}</td>
		<td align='right'>{{i.actual|currency}}</td>

	</tr>
	{% endfor %}
	<tr>
		<td><b>Total</b></td>
		<td align='right'><b>{{sum_budget_ex|currency}}</b></td>
		<td align='right'><b>{{sum_actual_ex|currency}}</b></td>
	</tr>
	</table>
	<br><br>
	<h2 align="center">Overall Budget - By Directorship</h2>
	<h3 align="center">{{term}} - {{year}}</h3>
	
	<br><table class="summary" width=500 cellpadding=3 align="center">
	<tr>
		<td><b>Directorship</b></td>
		<td><b>Budgeted Income</b></td>
		<td><b>Budgeted Expenses</b></td>
		<td><b>Net</b></td>
	</tr>
	{% for i in budget_actual_pos_table %}
	<tr>
		<td>{{i.position}}</td>
		<td align='right'>{{i.budgeted_in|currency}}</td>
		<td align='right'>{{i.budgeted_ex|currency}}</td>
		<td align='right'>{{i.net|currency}}</td>

	</tr>
	{% endfor %}
	<tr>
		<td><b>Total</b></td>
		<td align='right'><b>{{sum_budget_in|currency}}</b></td>
		<td align='right'><b>{{sum_budget_ex|currency}}</b></td>
		<td align='right'><b>{{sum_budget_net|currency}}</b></td>
	</table>
	
	
{% endif %}
{% endblock body %}