{% extends "base.htm" %}
{% block body %}

{% if user.is_authenticated %}
	<h2>Your Notices</h2>
		<li>Your transactions: <br/><br/>
			 {%  for i in user_trans %}
				{{i.type}} - {{i.amount}} - {{i.description}}<br/>
			 {% endfor %}<br/>
	 <li>Your budgets:</p>
			 {%  for b in user_budgets %}
				{{b.position}} - {{b.term}} - {{b.year}}<br/>
			 {% endfor %}<br/><br/>
	<h2 align="center">Overall Budget - By Category</h2>
	<h3 align="center">{{term}} - {{year}}</h3>
	<p align="center">[<a href = "{% url overview_page year=prev_year term=prev_term %}">Previous Term</a>]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[<a href = "{% url overview_page year=next_year term=next_term %}">Next Term</a>]</p>
	
	<br><table class="summary" width=500 cellpadding=3 align="center">
	<tr><td><h3>Income Items</h3></td><td></td></tr>
	<tr>
		<td><b>Category</b></td>
		<td><b>Budgeted Amount</b></td>
		<td><b>Actual Amount</b></td>
	</tr>
	{% for i in budget_actual_in_table %}
	<tr>
		<td>{{i.category}}</td>
		<td>{{i.budgeted}}</td>
		<td>{{i.actual}}</td>

	</tr>
	{% endfor %}
	<tr>
		<td><b>Total</b></td>
		<td><b>{{sum_budget_in}}</b></td>
		<td><b>{{sum_actual_in}}</b></td>
	</tr>
	<tr><td><br><br><h3>Expenses Items</h3></td><td></td></tr>
	<tr>
		<td><b>Category</b></td>
		<td><b>Budgeted Amount</b></td>
		<td><b>Actual Amount</b></td>
	</tr>
	{% for i in budget_actual_ex_table %}
	<tr>
		<td>{{i.category}}</td>
		<td>{{i.budgeted}}</td>
		<td>{{i.actual}}</td>

	</tr>
	{% endfor %}
	<tr>
		<td><b>Total</b></td>
		<td><b>{{sum_budget_ex}}</b></td>
		<td><b>{{sum_actual_ex}}</b></td>
	</tr>
	</table>
{% endif %}
{% endblock body %}