{% extends "base.htm" %}
{% block body %}
<h1> Create Category </h1>
	
	
	{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
	
	<select id="type_select" name="type_select">
		<option value="">Select One</option>
		{% for t in types %}
			{% ifequal type t %} <option value="{{ t }}" selected="selected">{{t|capfirst}}</option>
			{% else %}<option value="{{ t }}">{{t|capfirst}}</option>
			{% endifequal %}
		{% endfor %}
	</select>
	
	{% if type %}
	<form action="{% url category_create_category type=type %}" method="post">
		<table>
			{{ form.as_table }}
		</table>
		<br /> <br />
		<input type="submit" value="Add Category" /> <a href="{% url index %}"><button type="button">Cancel</button></a>
		<br /> <br />
		
	</form>
	{% endif %}
	
	{% block extra_body %}
	<script type="text/javascript">
        $(document).ready(function() {
            $('#type_select').change(function() {
			if ($(this).val() != "")
				window.location.href="{% url category_create_category %}"+ $(this).val() + "/";

			});
		});
	</script>
	{% endblock %}

{% endblock body %}