{% extends "base.htm" %}
{% block body %}
<h1> View Categories </h1>

	<select id="active_select" name="active_select">
		{% if criteria %} <option value="all">all</option>
		{% else %} <option value="all" selected="selected">all</option>
		{% endif %}
		{% for c in criteria_list %}
			{% ifequal criteria c %} <option value="{{c}}" selected="selected">{{c}}</option>
			{% else %} <option value="{{c}}">{{c}}</option>
			{% endifequal %}
			
		{% endfor %}
	
	</select>
  <br><br><br>
  To sort rows, click on the column name.
  <br><br>
	<table class="sortable" width=500 cellspacing="0" cellpadding="5">
		<tr>
		<th>Income Categories</th>
		<th>Is Active?</th>
		</tr>
	{% for c in income_categories %}
		<tr>
		<td>
			{{c.name}}
		</td>
		<td>
			<a href="{% url category_isactive_switch id=c.id state=criteria %}">{{c.isactive}}</a>
		</td>
		</tr>
	{% endfor %}
	</table>
	<br><br>
  <table class="sortable" width=500 cellspacing="0" cellpadding="5">
		<tr>
		<th>Expenditure Categories</th>
		<th>Is Active?</th>
		</tr>
	{% for c in expenditure_categories %}
		<tr>
		<td>
			{{c.name}}
		</td>
		<td>
			<a href="{% url category_isactive_switch id=c.id state=criteria %}">{{c.isactive}}</a>
		</td>
		</tr>
	{% endfor %}
	</table>
	
	{% block extra_body %}
	
	    <script type="text/javascript">
        $(document).ready(function() {
            $('#active_select').change(function() {
                if ($(this).val() == "all")
					window.location.href="{% url category_view_categories criteria='all'%}" ;
	            else
					window.location.href="{% url category_view_categories %}" + $(this).val() + "/" ;
			
            });
		});
		</script>
	
	
	{% endblock %}
	
{% endblock body %}