{% extends "base.htm" %}
{% block body %}
<h1> Budget Created </h1>

Congratulations! Your budget has been created... see details below. <br/><br/>

Budget Name: {{budget.name}} </br>
Position: {{budget.position.name}}</br>
Start Date: {{budget.start_date}}</br>
End Date: {{budget.end_date}}</br>
Stream: {{budget.stream}}</br></br></br>

	<table class="tableDollars" cellspacing="0" cellpadding="0" width=600>
		<tr>
			<th>Category</th>
			<th>Description</th>
			<th>Amount</th>
		</tr>
	{% for b in budget_items_in %}

		<tr>
			<td>{{b.income_category}}</td>
			<td>{{b.description}}</td>
			<td align='right'>{{b.amount|floatformat:2}}</td>
		</tr>

	{% endfor %}
		<tr>
			<td><b>Income Total:</b></td>
			<td></td>
			<td align='right'><b>{{in_tot|floatformat:2}}</b></td>
		</tr>
	{% for b in budget_items_ex %}
		<tr>
			<td>{{b.expenditure_category}}</td>
			<td>{{b.description}}</td>
			<td align='right'>{{b.amount|floatformat:2}}</td>
		</tr>

	{% endfor %}
		<tr><b>
			<td><b>Expenditure Total:</b></td>
			<td></td>
			<td align='right'><b>{{ex_tot|floatformat:2}}</b></td>
		</b></tr>
		<tr><b>
			<td><b>Net:</b></td>
			<td></td>
			<td align='right'><b>{{net|floatformat:2}}</b></td>
		</b></tr>			
		
	</table>
	
	<a href="{% url budget_view_budgets %}"><button type="button">View All</button></a>  <a href="{% url budget_delete_budget id=budget.id %}"><button type="button">Delete</button></a>
		

{% endblock body %}