{% extends "base.htm" %}
{% block body %}
<h1> Input Budget Items</h1>

Previous Budgets: </br>
<table>
	{% if previous_budgets %}
	{% for b in previous_budgets %}
	<tr>
		<td><a href="{% url budget_view_budgetitems id=b.id %}">{{b.name}}</a></td>
		<td>{{b.stream}}</td>
		<td>{{b.start_date.year}}<td>
	</tr>	
	{% endfor %}
	{% else %}
	None
	{% endif %}
</table></br></br>

	{% if formset.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
	
	<form action="{% url budget_create_budgetitems id=budget.id %}" method="post">
		{{ formset.management_form }}
		<table>
		
		{% for form in formset.forms %}
		<tr>
			{% for field in form %}
			<td>
				{{ field.errors }}
				{{ field.label_tag }} : {{ field }}
			</td>
			{% endfor %}
		</tr>
		
        {% endfor %}
        
		</table>
		<br /> <br />
		<input type="submit" value="Submit Proposal" /> <a href="{% url index %}"><button type="button">Cancel</button></a>
		<br /> <br />
		
	</form>

{% endblock body %}