{% extends "base.htm" %}
{% block body %}

<h1>Previous Budgets</h1>
<br/>
{% if previous_budgets %}

	{% for b in previous_budgets %}
		<p><a href="{% url budget_view_budgetitems id=b.id %}" target="_blank" onclick="window.open(this.href,this.target, 'scrollbar=1, height=500, width=600');return false;">{{b.name}} - {{b.term}} - {{b.start_date.year}} - Stream {{b.stream}}</a>
		<a href="#" id="{{b.id}}-show" class="showLink" onclick="showHide('{{b.id}}');return false;">[ Show More Details ]</a>
		</p>
		<div id="{{b.id}}" class="more">
		<p><a href="#" id="{{b.id}}-hide" class="hideLink" onclick="showHide('{{b.id}}');return false;">[ Show Less Details ]</a></p>
			<b>Income Items</b>
			<table class="sortable" width=500 cellpadding=3 cellspacing=0>
				<tr>
					<td bgcolor="#ccc">Description</td>
					<td bgcolor="#ccc">Category</td>
					<td bgcolor="#ccc">Budgeted</td>
					<td bgcolor="#ccc">Actual</td>
				</tr>

				{% for bi in previous_bi_in %}
					{% ifequal bi.budget b %}
					<tr>
						<td>{{bi.description}}</td>
						<td>{{bi.income_category}}</td>
						<td align='right'>{{bi.amount|currency}}</td>
						<td></td>
					</tr>
					{% endifequal %}
				{% endfor %}
				</table>
				<table width=500 cellpadding=3 cellspacing=0>
				  <tr>
					<td><b>Total Income</b></td>
					<td></td>
					<td align='right'><b>
				{% for i in total_in %}
					{% ifequal i.budget b.id %}{{i.sum|currency}}{% endifequal %}
				{% endfor %}
				</b></td>
					<td></td>
				</tr>
				</table>
				<br><br>
				
				<b>Expenditure Items</b>
				<table class="sortable" width=500 cellpadding=3 cellspacing=0>
					<tr>
						<td bgcolor="#ccc">Description</td>
						<td bgcolor="#ccc">Category</td>
						<td bgcolor="#ccc">Budgeted</td>
						<td bgcolor="#ccc">Actual</td>
					</tr>
				{% for bi in previous_bi_ex %}
					{% ifequal bi.budget b %}
					<tr>
						<td>{{bi.description}}</td>
						<td>{{bi.expenditure_category}}</td>
						<td align='right'>{{bi.amount|currency}}</td>
						<td></td>
					</tr>
					{% endifequal %}
				{% endfor %}
				</table>
				<table width=500 cellpadding=3 cellspacing=0>
				<tr>
					<td><b>Total Expenditure</b></td>
					<td></td>
					<td align='right'><b>
				{% for i in total_ex %}
					{% ifequal i.budget b.id %}{{i.sum|currency}}{% endifequal %}
				{% endfor %}
					</b></td>
					<td></td>
				</tr>

			</table><br/><br/>
			
		</div>
	
	{% endfor %}
{% else %}
	None
	<br><br>
{% endif %}
<br><br/>

<h1> Input Budget Items</h1>
</br></br>

	{% if expense_formset.errors %}
        <p style="color: red;">
            Please correct the error{{ expense_formset.errors|pluralize }} below.
        </p>
    {% endif %}

	<form action="{% url budget_create_budgetitems id=budget.id %}" method="post">
		
		{{ expense_formset.management_form }}
		
		<table>
		
		<tr>
		  <td><b>Item Expensed</b></td>
		  <td><b>$/Item</b></td>
		  <td><b># Items</b></td>
		  <td><b>Total Cost</b></td>
		  <td><b>Expenditure Category</b></td>
		</tr>
		
		{% for form in expense_formset.forms %}
		<tr>
			{% for field in form %}
			<td>
			{{ field.errors }}
			  {{ field }}
			</td>
			{% endfor %} 
		</tr>
        {% endfor %}
    </table>
<br><br>
	{% if income_formset.errors %}
        <p style="color: red;">
            Please correct the error{{ income_formset.errors|pluralize }} below.
        </p>
    {% endif %}
    <table>
		<tr>
      <td><b>Income Item</b></td>
      <td><b>$/Item</b></td>
      <td><b># Items</b></td>
      <td><b>Total Income</b></td>
      <td><b>Income Category</b></td>
    </tr>
    
    
		{{ income_formset.management_form }}
		{% for form in income_formset.forms %}
		<tr>
			{% for field in form %}
			<td>
				{{ field.errors }}
				{{ field }}
			</td>
			{% endfor %}
		</tr>
		
        {% endfor %}
        
		</table>
		<br /> <br />
		<input type="submit" value="Submit Proposal" /> <a href="{% url overview_page %}"><button type="button">Cancel</button></a>
		<br /> <br />
		
	</form>
	
	{% block extra_body %}
    <script type="text/javascript">
		function showHide(shID) {
		if (document.getElementById(shID)) {
			if (document.getElementById(shID+'-show').style.display != 'none') {
				document.getElementById(shID+'-show').style.display = 'none';
				document.getElementById(shID).style.display = 'block';
			}
			else {
				document.getElementById(shID+'-show').style.display = 'inline';
				document.getElementById(shID).style.display = 'none';
			}
		}
	}
	</script>
	{% endblock extra_body %}
{% endblock body %}


				