{% extends "base.htm" %}
{% block body %}
<h1> Create Budget </h1>

	{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
	<form action="{% url budget_create_budget %}" method="post">
		<table>
			{{ form.as_table }}
		</table>
		<br /> <br />
		<input type="submit" value="Create Budget" /> <a href="{% url index %}"><button type="button">Cancel</button></a>
		<br /> <br />
		
	</form>

{% endblock body %}