<link href="/media_site/style.css" rel="stylesheet" type="text/css" />

{% load user_group %}
{% load currency %}
{% block body %}
<h1>Budget Details</h1>

<br/>

<table class="summary">
  <tr><td><b>Position Name</b></td><td>{{budget.position.name}}</td></tr>
  <tr><td><b>Year</b></td><td>{{budget.year}}</td></tr>
  <tr><td><b>Term</b></td><td>{{budget.term}}</td></tr>
  <tr><td><b>Stream</b></td><td>{{budget.stream}}</td></tr>
</table> 
<br><br>

	{% if full %}
	    
	<h2> Income Budget Breakdown </h2><br/>
		<table class="tableDollars" cellspacing="0" cellpadding="3" width=600>
		<tr>
			<th>Income Category</th>
			<th>Budgeted Amount</th>
			<th>Actual Amount</th>
		</tr>
		
		{% for c in budget_items_in_cat %}
		<tr>
			<td>{{c.income_category__name}}</td>
			<td>{{c.sum|currency}}</td>
			<td>
				{% for a in transactions_in_cat %}
					{% ifequal a.income_category__name c.income_category__name %}
						{{a.sum|currency}}
					{% endifequal %}
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
		<tr>
			<th>Income Total</th>
			<th>{{in_tot|currency}}</th>
			<th>{{transactions_in_tot|currency}}</th>
		</tr></table>
		<br><br>

  <h2> Expenditure Budget Breakdown </h2><br/>		
		<table class="tableDollars" width=600 cellspacing="0" cellpadding="3">
      <tr>
        <th>Expenditure Category</th>
        <th>Budgeted Amount</th>
        <th>Actual Amount</th>
    </tr>
    
    {% for c in budget_items_ex_cat %}
		<tr>
			<td>{{c.expenditure_category__name}}</td>
			<td>{{c.sum|currency}}</td>
			<td>
				{% for a in transactions_ex_cat %}
					{% ifequal a.expenditure_category__name c.expenditure_category__name %}
						{{a.sum|currency}}
					{% endifequal %}
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
		<tr>
			<th>Total Expenditure Budget</th>
			<th>{{ex_tot|currency}}</th>
			<th>{{transactions_ex_tot|currency}}</th>
		</tr>

		<tr>    
		  <th>Remaining Budget</th>
      <th></th>
      <th align='right'>{{net_budget_transaction_ex_tot|currency}}</th>
		</tr>
		</table>
		<br><br>

		{% if user|in_group:"vp_finance,admin" %}
			{% if budget.approved %}
				<a href="{% url budget_approved_switch id=budget.id %}" onClick="javascript:window.close();"><button>Un-Approve</button></a>
			{% else %}
				<a href="{% url budget_approved_switch id=budget.id %}" onClick="javascript:window.close();"><button>Approve</button></a>
			{% endif %}
		{% endif %}
	  {% else %}
		  <a href="{% url budget_create_budgetitems id=budget.id %}">Enter in Details</a>
   	{% endif %}
		
	<a href="{% url budget_view_budgets %}" onClick="javascript:window.close();"><button>Close Window</button></a> <br/><br/>
	
	<h1>Previous Budgets</h1>
	{% for b in previous_budgets %}
		<p>{{b.name}} - {{b.term}} - {{b.start_date.year}} - Stream {{b.stream}}
		<a href="#" id="{{b.id}}-show" class="showLink" onclick="showHide('{{b.id}}');return false;">[Show More Details]</a>
		</p>
		<div id="{{b.id}}" class="more">
		<p><a href="#" id="{{b.id}}-hide" class="hideLink" onclick="showHide('{{b.id}}');return false;">[Show Less Details]</a></p>
			<h2>Income Items</h2>
			<br>
			<table class="tableDollars" width=600 cellpadding=0 cellspacing=0>
				<tr>
					<th>Description</th>
					<th>Category</th>
					<th>Budgeted</th>
					<th>Actual</th>
				</tr>

				{% for bi in previous_bi_in %}
					{% ifequal bi.budget b %}
					<tr>
						<td>{{bi.description}}</td>
						<td>{{bi.income_category}}</td>
						<td align='right'>{{bi.amount|currency}}</td>
						<td></td>
					</tr>
					{% endifequal %}
				{% endfor %}
				<tr>
					<th>Total Income</th>
					<th></th>
					<th align='right'>
				{% for i in total_in %}
					{% ifequal i.budget b.id %}{{i.sum|currency}}{% endifequal %}
				{% endfor %}
						</th>
					<th></th>
				</tr>
				</table>
				<br><br>
				<h2>Expenditure Items</h2>
				<br>
				<table class="tableDollars" width=600 cellpadding=0 cellspacing=0>
					<tr>
						<th>Description</th>
						<th>Category</th>
						<th>Budgeted</th>
						<th>Actual</th>
					</tr>
				{% for bi in previous_bi_ex %}
					{% ifequal bi.budget b.id %}
					<tr>
						<td>{{bi.description}}</td>
						<td>{{bi.expenditure_category}}</td>
						<td align='right'>{{bi.amount|currency}}</td>
						<td></td>
					</tr>
					{% endifequal %}
				{% endfor %}
				<tr>
					<th>Total Expenditure</th>
					<th></th>
					<th align='right'>
				{% for i in total_ex %}
					{% ifequal i.budget b.id %}{{i.sum|currency}}{% endifequal %}
				{% endfor %}
					</th>
					<th></th>
				</tr>

			</table><br/><br/>
			
		</div>
	
	{% endfor %}
	
	
	{% block extra_body %}
    <script type="text/javascript">
		function showHide(shID) {
		if (document.getElementById(shID)) {
			if (document.getElementById(shID+'-show').style.display != 'none') {
				document.getElementById(shID+'-show').style.display = 'none';
				document.getElementById(shID).style.display = 'block';
			}
			else {
				document.getElementById(shID+'-show').style.display = 'inline';
				document.getElementById(shID).style.display = 'none';
			}
		}
	}
	</script>
	{% endblock extra_body %}

{% endblock body %}