
{% extends "base.htm" %}
{% block body %}
<h1> View Budgets </h1>

	Term:
	<select id="term_select" name="term_select">
		{% if term %} <option value="{{all}}">{{all}}</option>
		{% else %} <option value="{{all}}" selected="selected">{{all}}</option>
		{% endif %}
		{% for t in terms %}
			{% ifequal term t %} <option value="{{t}}" selected="selected">{{t}}</option>
			{% else %} <option value="{{t}}">{{t}}</option>
			{% endifequal %}
			
		{% endfor %}
	</select>
	Year:
	<select id="year_select" name="year_select">
		{% if year %}<option value="{{all}}">{{all}}</option>
		{% else %} <option value="{{all}}" selected="selected">{{all}}</option>
		{% endif %}
		{% for y in years %}
			{% ifequal year y %} <option value="{{y}}" selected="selected">{{y}}</option>
			{% else %} <option value="{{y}}">{{y}}</option>
			{% endifequal %}
		{% endfor %}
	</select>
	<input type="button" value="Refresh" onClick="window.location.reload()">
	
	<br>
  <br>
  <p>To sort rows, click on the column name.</p>

<table class="sortable" width=500 cellpadding=5 cellspacing=0>
		<tr>
			<td bgcolor="#ccc">Position Name</td>
			<td bgcolor="#ccc">Term</td>
			<td bgcolor="#ccc">Year</td>
			<td bgcolor="#ccc">Stream</td>
			<td bgcolor="#ccc">Details</td>
			<td bgcolor="#ccc">Approved</td>
		</tr>
	{% for b in budgets %}
		<tr>
			<td>{{b.position}}</td>
			<td>{{b.term}}</td>
			<td>{{b.year}}</td>
			<td>{{b.stream}}</td>
			<td><a href="{% url budget_view_budgetitems id=b.id %}" target="_blank" onclick="window.open(this.href,this.target, 'scrollbar=1, height=500, width=600');return false;">Details</a></td>
			<td>{{b.approved}}</td>
			
		</tr>
	{% endfor %}
	</table>
	
	
	{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#term_select').change(function() {
                if ($(this).val() == "all")
					if (year_select.options[year_select.selectedIndex].value == "all")
						window.location.href="{% url budget_view_budgets %}" ;
					else
						window.location.href="{% url budget_view_budgets %}"+ {{year}} + "/";

	            else
					if (year_select.options[year_select.selectedIndex].value == "all")
						window.location.href="{% url budget_view_budgets %}" + $(this).val() + "/" ;
					else
						window.location.href="{% url budget_view_budgets %}"+ {{year}} + "/" + $(this).val() + "/" ;
			
            });
			$('#year_select').change(function() {
                if ($(this).val() == "all")
	                if (term_select.options[term_select.selectedIndex].value == "all")
						window.location.href="{% url budget_view_budgets %}" ;
					else
						window.location.href="{% url budget_view_budgets %}" + term_select.options[term_select.selectedIndex].value + "/" ;

	            else
					if (term_select.options[term_select.selectedIndex].value == "all")
						window.location.href="{% url budget_view_budgets %}" + $(this).val() + "/" ;
					else
						window.location.href="{% url budget_view_budgets %}"+ $(this).val() + "/" + term_select.options[term_select.selectedIndex].value + "/" ;
			
            });
        });
    </script>
	{% endblock %}

{% endblock body %}
