<link href="/media_site/style.css" rel="stylesheet" type="text/css" />

{% load user_group %}
{% load currency %}
{% block body %}
<h1>Budget Details</h1>

<br/>

<table class="summary">
  <tr><td><b>Position Name</b></td><td>{{budget.position.name}}</td></tr>
  <tr><td><b>Year</b></td><td>{{budget.year}}</td></tr>
  <tr><td><b>Term</b></td><td>{{budget.term}}</td></tr>
  <tr><td><b>Stream</b></td><td>{{budget.stream}}</td></tr>
</table> 
<br><br>

	{% if full %}
	    
	<h2> Income Budget Breakdown </h2>
		<table class="summary" cellspacing="0" cellpadding="3" width=600>
		<tr>
			<th>Income Category</th>
			<th>Budgeted Amount</th>
			<th>Actual Amount</th>
		</tr>
		
		{% for c in budget_items_in_cat %}
		<tr>
			<td>{{c.income_category__name}}</td>
			<td align='right'>{{c.sum|currency}}</td>
			<td align='right'>
				{% for a in transactions_in_cat %}
					{% ifequal a.income_category__name c.income_category__name %}
						{{a.sum|currency}}
					{% endifequal %}
				{% endfor %}
			</td>
		</tr>
			{% for i in budget_items_in %}
				{% ifequal i.income_category.name c.income_category__name %}
				<tr>
					<td class="item">{{i.description}} ({{i.num_items}}@{{i.amount_per_item|currency}}/item)</td>
					<td class="item" align='right'>{{i.amount|currency}}</td>
					<td></td>
				</tr>
				{% endifequal %}
			{% endfor %}
		{% endfor %}
		<tr class="total">
			<td>Income Total</td>
			<td align='right'>{{in_tot|currency}}</td>
			<td align='right'>{{transactions_in_tot|currency}}</td>
		</tr></table>
		

  <h2> Expenditure Budget Breakdown </h2>	
	<table class="summary" width=600 cellspacing="0" cellpadding="3">
      <tr>
        <th>Expenditure Category</th>
        <th>Budgeted Amount</th>
        <th>Actual Amount</th>
    </tr>
    
    {% for c in budget_items_ex_cat %}
		<tr>
			<td>{{c.expenditure_category__name}}</td>
			<td align='right'>{{c.sum|currency}}</td>
			<td align='right'>
				{% for a in transactions_ex_cat %}
					{% ifequal a.expenditure_category__name c.expenditure_category__name %}
						{{a.sum|currency}}
					{% endifequal %}
				{% endfor %}
			</td>
		</tr>
		{% for i in budget_items_ex %}
			{% ifequal i.expenditure_category.name c.expenditure_category__name %}
			<tr>
				<td class="item">{{i.description}} ({{i.num_items}}@{{i.amount_per_item|currency}}/item)</td>
				<td class="item" align='right'>{{i.amount|currency}}</td>
				<td></td>
			</tr>
			{% endifequal %}
		{% endfor %}
		
	{% endfor %}
		<tr class="total">
			<td>Expenditure Total</td>
			<td align='right'>{{ex_tot|currency}}</td>
			<td align='right'>{{transactions_ex_tot|currency}}</td>
		</tr>

		<tr>    
		  <td class="net">Net</td>
		  <td class="net" align='right'>{{net_budget|currency}}</td>
		  <td class="net" align='right'>{{net_transaction|currency}}</td>
		</tr>
		</table>
		<br><br>

		{% if user|in_group:"vp_finance,admin" %}
			{% if budget.approved %}
				<a href="{% url budget_approved_switch id=budget.id %}" onClick="javascript:window.close();"><button>Un-Approve</button></a>
			{% else %}
				<a href="{% url budget_approved_switch id=budget.id %}" onClick="javascript:window.close();"><button>Approve</button></a>
			{% endif %}
		{% endif %}
	  {% else %}
		  <a href="{% url budget_create_budgetitems id=budget.id %}">Enter in Details</a>
   	{% endif %}
		
	<a href="{% url budget_view_budgets %}" onClick="javascript:window.close();"><button>Close Window</button></a> <br/><br/>
	
	<h1>Previous Budgets</h1>
	<p>Click below for more detail on similar budgets.</p>
	{% for b in previous_budgets %}
		<h3>{{b.position}} - {{b.term}} - {{b.start_date.year}} - Stream {{b.stream}}</h3>
		<p><a href="#" id="{{b.id}}-show" class="showLink" onclick="showHide('{{b.id}}');return false;">[Show More Details]</a></p>

		<div id="{{b.id}}" class="more">
		<p><a href="#" id="{{b.id}}-hide" class="hideLink" onclick="showHide('{{b.id}}');return false;">[Show Less Details]</a></p>
			<h2>Income Items</h2>
			
			<table class="summary" cellspacing="0" cellpadding="3" width=600>
				<tr>
					<th>Income Category</th>
					<th>Budgeted Amount</th>
					<th>Actual Amount</th>
				</tr>
				
				{% for c in categories_in %}
				<tr>
					<td>{{c.name}}</td>
					<td align='right'>
					{% for i in total_bi_in_cat %}
						{% ifequal i.budget b.id %}
						{% ifequal i.income_category__name c.name %}
							{{i.sum|currency}}
						{% endifequal %}
						{% endifequal %}
					{% endfor %}
					</td>
					<td align='right'>
					{% for i in total_in_trans_cat %}
						{% ifequal i.budget b.id %}
						{% ifequal i.income_category__name c.name %}
							{{i.sum|currency}}
						{% endifequal %}
						{% endifequal %}
					{% endfor %}
					</td>
				</tr>
					{% for bi in previous_bi_in %}
						{% ifequal bi.budget b %}
						{% ifequal bi.income_category.name c.name %}
							<tr>
							<td class="item">{{bi.description}} ({{bi.num_items}}@{{bi.amount_per_item|currency}}/item)</td>
							<td class="item" align='right'>{{bi.amount|currency}}</td>
							<td></td>
							</tr>
						{% endifequal %}
						{% endifequal %}
					
					{% endfor %}
				{% endfor %}
				<tr class="total">
					<td>Total Income</td>
					<td align='right'>
						{% for i in previous_total_in %}
							{% ifequal i.budget b.id %}{{i.sum|currency}}{% endifequal %}
						{% endfor %}
					</td>
					<td align='right'>
						{% for i in previous_total_in_trans %}
							{% ifequal i.budget b.id %}{{i.sum|currency}}{% endifequal %}
						{% endfor %}
					</td>

					<td></td>
				</tr>
				</table>
				
				<h2>Expenditure Items</h2>
				
				<table class="summary" cellspacing="0" cellpadding="3" width=600>
				<tr>
					<th>Expenditure Category</th>
					<th>Budgeted Amount</th>
					<th>Actual Amount</th>
				</tr>
				
				{% for c in categories_ex %}
				<tr>
					<td>{{c.name}}</td>
					<td align='right'>
					{% for i in total_bi_ex_cat %}
						{% ifequal i.budget b.id %}
						{% ifequal i.Expenditure_category__name c.name %}
							{{i.sum|currency}}
						{% endifequal %}
						{% endifequal %}
					{% endfor %}
					</td>
					<td align='right'>
					{% for i in total_ex_trans_cat %}
						{% ifequal i.budget b.id %}
						{% ifequal i.expenditure_category__name c.name %}
							{{i.sum|currency}}
						{% endifequal %}
						{% endifequal %}
					{% endfor %}
					</td>
				</tr>
					{% for bi in previous_bi_ex %}
						{% ifequal bi.budget b %}
						{% ifequal bi.expenditure_category.name c.name %}
							<tr>
							<td class="item">{{bi.description}} ({{bi.num_items}}@{{bi.amount_per_item|currency}}/item)</td>
							<td class="item" align='right'>{{bi.amount|currency}}</td>
							<td></td>
							</tr>
						{% endifequal %}
						{% endifequal %}
					
					{% endfor %}
				{% endfor %}
				<tr class="total">
					<td>Total Expenditure</td>
					<td align='right'>
						{% for i in previous_total_ex %}
							{% ifequal i.budget b.id %}{{i.sum|currency}}{% endifequal %}
						{% endfor %}
					</td>
					<td align='right'>
						{% for i in previous_total_ex_trans %}
							{% ifequal i.budget b.id %}{{i.sum|currency}}{% endifequal %}
						{% endfor %}
					</td>

					<td></td>
				</tr>
				</table>
			
		</div>
	
	{% endfor %}
	
	
	{% block extra_body %}
    <script type="text/javascript">
		function showHide(shID) {
		if (document.getElementById(shID)) {
			if (document.getElementById(shID+'-show').style.display != 'none') {
				document.getElementById(shID+'-show').style.display = 'none';
				document.getElementById(shID).style.display = 'block';
			}
			else {
				document.getElementById(shID+'-show').style.display = 'inline';
				document.getElementById(shID).style.display = 'none';
			}
		}
	}
	</script>
	{% endblock extra_body %}

{% endblock body %}