{% extends "base.htm" %}
{% block body %}
<h1> View Budgets </h1>
	Term:
	<select id="term_select">
		<option value="" selected="selected">all</option>
		{% for t in terms %}
			<option value="{{t}}">{{t}}</option>
		{% endfor %}
	</select>
	Year:
	<select id="year_select">
		<option value="" selected="selected">all</option>
		{% for y in years %}
			<option value="{{y.year}}">{{y.year}}</option>
		{% endfor %}
	</select>


	<table>
		<tr>
			<td>Budget Name</td>
			<td>Term</td>
			<td>Year</td>
			<td>Stream</td>
			<td>Details</td>
			<td>Approved</td>
		</tr>
	{% for b in budgets %}
		<tr>
			<td>{{b.name}}</td>
			<td>{{b.term}}</td>
			<td>{{b.year}}</td>
			<td>{{b.stream}}</td>
			<td><a href="{% url budget_view_budgetitems id=b.id %}">Details</a></td>
			<td>{{b.approved}}</td>
			
		</tr>
	{% endfor %}
	</table>
	<br><br>
	<a href="{% url budget_create_budget %}">Create Budget</a>
	
	{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#term_select').change(function() {
                if ($(this).val())
	                window.location.href="{% url budget_view_budgets %}" + $(this).val() + "/" ;
	            else
	                window.location.href="{% url budget_view_budgets %}" + "/";
			
            });
			$('#year_select').change(function() {
                if ($(this).val())
	                window.location.href="{% url budget_view_budgets %}" + $(this).val() + "/" ;
	            else
	                window.location.href="{% url budget_view_budgets %}" + "/";
			
            });
        });
    </script>
	{% endblock %}

{% endblock body %}


