<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Arthropod  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100422

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> EngSoc Finance Tool</title>	
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="/media_site/style.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="/media_site/jquery/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/media_site/jquery/jquery.gallerax-0.2.js"></script>
<style type="text/css">
@import "gallery.css";
</style>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Finance Tool </a></h1>
			<p> an online financial management tool </p>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li><a href = "{% url index %}">Home</a></li>
			<li><a href = "{% url transaction_view_transactions %}">Transactions</a></li>
			<li><a href = "{% url budget_view_budgets %}">Budgets</a></li>
			<li><a href = "{% url position_view_positions criteria='all' %}">Positions</a></li>
			<li><a href = "{% url category_view_categories criteria='all' %}">Categories</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
				{% block body %}
					<div class="post">
						<h2 class="title"><a href="#">Welcome to Arthropod </a></h2>
						
						<p class="meta"><span class="date">September 10, 2009</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p>This is <strong>Arthropod </strong>, a free, fully standards-compliant CSS template designed by FreeCssTemplates<a href="http://www.nodethirtythree.com/"></a> for <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.  The slideshow uses photos from <a href="http://www.pdphoto.org">PDPhoto.org</a> and is powered by Gallerax (a jQuery plugin by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a>). This free template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attributions</a> license, so you’re pretty much free to do whatever you want with it  (even use it commercially) provided you keep the links in the footer  intact. Aside from that, have fun with it :)</p>
							<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.</p>
							<p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
						</div>
					</div>
					<div class="post">
						<h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
						<p class="meta"><span class="date">September 10, 2009</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus ut, lobortis a, est.</p>
							<p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
						</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				{% endblock body %}
				</div>
				<!-- end #content -->
				
				
				
				
				
				<!-- sidebar -->
				<div id="sidebar">
					<ul>
						<li>
							<div id="search" >
								<form method="get" action="#">
									<div>
										<input type="text" name="s" id="search-text" value="" />
										<input type="submit" id="search-submit" value="GO" />
									</div>
								</form>
							</div>
							<div style="clear: both;">&nbsp;</div>
						</li>
						<li>
							<h2>Notices</h2>
							<p>Notices might go here?</p>
						</li>
						<li>
							<h2>Enter</h2>
							<ul>
								<li><a href = "{% url transaction_create_expenditure %}">Expenditure </a></li>
								<li><a href = "{% url transaction_create_income %}">Income </a></li>
								<li><a href = "{% url budget_create_budget %}">Budget Proposal </a></li>
								<li><a href = "{% url category_create_category type='IN' %}">Income Category </a></li>
								<li><a href = "{% url category_create_category type='EX' %}">Expenditure Category </a></li>

							</ul>
						</li>
						<li>
							<h2>Manage</h2>
							<ul>
								<li><a href = "{% url transaction_view_transactions %}">Transactions</a></li>
								<li><a href = "{% url position_view_positions criteria='all' %}">Positions</a></li>
								<li><a href = "{% url budget_view_budgets %}">Budgets </a></li>
								<li><a href = "{% url category_view_categories criteria='all' %}">Categories </a></li>
							</ul>
						</li>

					</ul>
				</div>
				<!-- end #sidebar -->
				
				
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Copyright (c) 2011 Katrina&Alex. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
