{% extends "base.htm" %}
{% block body %}
<h1>Transaction Submitted</h1>

<p>Congratulations, your transaction has been submitted for approval. </p>
{% if no_receipt %}<p><b>Please submit your receipts to the Orifice or upload it to the transaction. Will not be approved until submitted.</b></p>{% endif %}

<table>

	<tr><td>Type</td><td>{{t.get_type_display}}</td></tr>
	<tr><td>Date</td><td>{{t.date}}</td></tr>
	<tr><td>Amount</td><td>{{t.amount|floatformat:2}}</td></tr>
	<tr><td>Category</td><td>{% ifequal t.type "IN" %}{{t.income_category}}{% else %}{{t.expenditure_category}} {% endifequal %}</td></tr>
	<tr><td>Description</td><td>{{t.description}}</td></tr>
	<tr><td>Budget</td><td>{{t.budget}}</td></tr>
</table>

<a href="{% url transaction_view_transactions %}"><button type="button">View All</button></a>   <a href="{% url transaction_edit_transaction id=t.id %}"><button type="button">Edit</button></a>  <a href="{% url transaction_delete_transaction id=t.id %}"><button type="button">Delete</button></a>


{% endblock body %}	