{% extends "base.htm" %}
{% block body %}
<h1> Create Transaction </h1>
	<br><br>
	Select a transaction type: </br>
	
	<select id="type_select" name="type_select">
		<option value=""></option>
		{% for t in types %}
			<option value="{{t}}">{{t}}</option>
		{% endfor %}
	</select>



	
	{% block extra_body %}
	<script type="text/javascript">
        $(document).ready(function() {
            $('#type_select').change(function() {
			if ($(this).val() != "")
                if ($(this).val() == "Income")
					window.location.href="{% url transaction_create_income %}" ;
				else
					window.location.href="{% url transaction_create_expenditure %}" ;
			});
		});
	</script>
	{% endblock %}

{% endblock body %}
