{% extends "base.htm" %}
{% block body %}
<h1> Edit Transaction </h1>

	 {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
	<form action="{% url transaction_edit_transaction id=t.id %}" method="post">
		<table>
			{{ form.as_table }}
		</table>
		<br /> <br />
		<input type="submit" value="Edit Transaction" /> <a href="{% url transaction_confirm_delete_transaction id=t.id %}"><button type="button">Delete</button></a> <a href="{% url transaction_view_transactions %}"><button type="button">Cancel</button></a>
		<br /> <br />
		
	</form>

{% endblock body %}