{% extends "base.htm" %}
{% load user_group %}
{% load currency %}
{% block body %}
{% if account %}
	<h1>My Transactions</h1>
{% else %}
	<h1>View All Transactions</h1>
	Term:
	<select id="term_select" name="term_select">
		{% if term %} <option value="{{all}}">{{all}}</option>
		{% else %} <option value="{{all}}" selected="selected">{{all}}</option>
		{% endif %}
		{% for t in terms %}
			{% ifequal term t %} <option value="{{t}}" selected="selected">{{t}}</option>
			{% else %} <option value="{{t}}">{{t}}</option>
			{% endifequal %}

		{% endfor %}
	</select>
	Year:
	<select id="year_select" name="year_select">
		{% if year %}<option value="{{all}}">{{all}}</option>
		{% else %} <option value="{{all}}" selected="selected">{{all}}</option>
		{% endif %}
		{% for y in years %}
			{% ifequal year y %} <option value="{{y}}" selected="selected">{{y}}</option>
			{% else %} <option value="{{y}}">{{y}}</option>
			{% endifequal %}
		{% endfor %}
	</select>

<input type="button" value="Refresh" onClick="window.location.reload()">
{% endif %}
<br>
<br>
<p>To sort rows, click on the column name.</p>
<table class="sortable" width=750 cellpadding=5 cellspacing=0>
	<tr>
		<td bgcolor="#ccc">Type</td>
		<td bgcolor="#ccc">Term</td>
		<td bgcolor="#ccc">Year</td>
		<td bgcolor="#ccc">Amount</td>
		<td bgcolor="#ccc">Category</td>
		<td bgcolor="#ccc">Description</td>
		<td bgcolor="#ccc">Position Name</td>
		<td bgcolor="#ccc"></td>
		<td bgcolor="#ccc"></td>
		<td bgcolor="#ccc">Approved</td></bgcolor>
	</tr>
	
	
{% for e in expenditures %}
	<tr>
   
    <td>EXPENDITURE</td>
		<td>{{e.term}}</td>
		<td>{{e.year}}</td>
		<td>{{e.amount|currency}}</td>
		<td>{{e.expenditure_category.name}}</td>
		<td>{{e.description}}</td>
		<td>{{e.position}}</td>
		<td>{% if user|in_group:"vp_finance,admin" %}<a href="{% url transaction_edit_expenditure id=e.id %}">Edit</a>{% endif %}</td>
		<td><a href="{% url transaction_view_transaction id=e.id %}" target="_blank" onclick="window.open(this.href,this.target, 'scrollbar=1, height=300, width=400');return false;">Details</a></td>
		<td>{{e.approved}}</td>
	</tr>
{% endfor %}
{% for i in incomes %}
	<tr>
		<td>INCOME</td>
		<td>{{i.term}}</td>
		<td>{{i.year}}</td>
		<td>{{i.amount|currency}}</td>
		<td>{{i.income_category.name}}</td>
		<td>{{i.description}}</td>
		<td>{{i.position}}</td>
		<td>{% if i.approved %}{% if user|in_group:"vp_finance,admin" %}<a href="{% url transaction_edit_income id=i.id %}">Edit</a>{% endif %}{% else %}<a href="{% url transaction_edit_income id=i.id %}">Edit</a> {% endif %}</td>
		<td><a href="{% url transaction_view_transaction id=i.id %}" target="_blank" onclick="window.open(this.href,this.target, 'scrollbar=1, height=300, width=400');return false;">Details</a></td>
		<td>{{i.approved}}</td>
	</tr>
{% endfor %}
</table>

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#term_select').change(function() {
                if ($(this).val() == "all")
					if (year_select.options[year_select.selectedIndex].value == "all")
						window.location.href="{% url transaction_view_transactions %}" ;
					else
						window.location.href="{% url transaction_view_transactions %}"+ {{year}} + "/";

	            else
					if (year_select.options[year_select.selectedIndex].value == "all")
						window.location.href="{% url transaction_view_transactions %}" + $(this).val() + "/" ;
					else
						window.location.href="{% url transaction_view_transactions %}"+ {{year}} + "/" + $(this).val() + "/" ;

            });
			$('#year_select').change(function() {
                if ($(this).val() == "all")
	                if (term_select.options[term_select.selectedIndex].value == "all")
						window.location.href="{% url transaction_view_transactions %}" ;
					else
						window.location.href="{% url transaction_view_transactions %}" + term_select.options[term_select.selectedIndex].value + "/" ;

	            else
					if (term_select.options[term_select.selectedIndex].value == "all")
						window.location.href="{% url transaction_view_transactions %}" + $(this).val() + "/" ;
					else
						window.location.href="{% url transaction_view_transactions %}"+ $(this).val() + "/" + term_select.options[term_select.selectedIndex].value + "/" ;

            });
        });
    </script>
	{% endblock %}


{% endblock body %}