{% extends "base.htm" %}
{% block body %}
<h1>View All Transactions</h1>
	Term:
	<select id="term_select" name="term_select">
		{% if term %} <option value="{{all}}">{{all}}</option>
		{% else %} <option value="{{all}}" selected="selected">{{all}}</option>
		{% endif %}
		{% for t in terms %}
			{% ifequal term t %} <option value="{{t}}" selected="selected">{{t}}</option>
			{% else %} <option value="{{t}}">{{t}}</option>
			{% endifequal %}

		{% endfor %}
	</select>
	Year:
	<select id="year_select" name="year_select">
		{% if year %}<option value="{{all}}">{{all}}</option>
		{% else %} <option value="{{all}}" selected="selected">{{all}}</option>
		{% endif %}
		{% for y in years %}
			{% ifequal year y %} <option value="{{y}}" selected="selected">{{y}}</option>
			{% else %} <option value="{{y}}">{{y}}</option>
			{% endifequal %}
		{% endfor %}
	</select>

<input type="button" value="Refresh" onClick="window.location.reload()">
<table class="sortable">
	<tr>
	  <table id ="tableHeader">
		<td>Type</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>Amount</td>
		<td>Category</td>
		<td>Description</td>
		<td>Budget</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>Approved</td>
		</table>
	</tr>
	
<table id ="tableEntries">	
{% for e in expenditures %}
	<tr>
		<td>&nbsp;&nbsp;{{e.type}}&nbsp;&nbsp;</td>
		<td>{{e.date}}</td>
		<td>{{e.amount}}</td>
		<td>{{e.expenditure_category.name}}</td>
		<td>{{e.description}}</td>
		<td>{{e.budget}}</td>
		<td><a href="{% url transaction_edit_transaction id=e.id %}">Edit</a></td>
		<td><a href="{% url transaction_view_transaction id=e.id %}" target="_blank">Details</a></td>
		<td>{{e.approved}}</td>
	</tr>
{% endfor %}
{% for i in incomes %}
	<tr>
		<td>&nbsp;&nbsp;{{i.type}}&nbsp;&nbsp;</td>
		<td>{{i.date}}</td>
		<td>{{i.amount}}</td>
		<td>{{i.income_category.name}}</td>
		<td>{{i.description}}</td>
		<td>{{i.budget}}</td>
		<td><a href="{% url transaction_edit_transaction id=i.id %}">Edit</a></td>
		<td><a href="{% url transaction_view_transaction id=i.id %}" target="_blank">Details</a></td>
		<td>{{i.approved}}</td>
	</tr>
{% endfor %}
</table>
</table>

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#term_select').change(function() {
                if ($(this).val() == "all")
					if (year_select.options[year_select.selectedIndex].value == "all")
						window.location.href="{% url transaction_view_transactions %}" ;
					else
						window.location.href="{% url transaction_view_transactions %}"+ {{year}} + "/";

	            else
					if (year_select.options[year_select.selectedIndex].value == "all")
						window.location.href="{% url transaction_view_transactions %}" + $(this).val() + "/" ;
					else
						window.location.href="{% url transaction_view_transactions %}"+ {{year}} + "/" + $(this).val() + "/" ;

            });
			$('#year_select').change(function() {
                if ($(this).val() == "all")
	                if (term_select.options[term_select.selectedIndex].value == "all")
						window.location.href="{% url transaction_view_transactions %}" ;
					else
						window.location.href="{% url transaction_view_transactions %}" + term_select.options[term_select.selectedIndex].value + "/" ;

	            else
					if (term_select.options[term_select.selectedIndex].value == "all")
						window.location.href="{% url transaction_view_transactions %}" + $(this).val() + "/" ;
					else
						window.location.href="{% url transaction_view_transactions %}"+ $(this).val() + "/" + term_select.options[term_select.selectedIndex].value + "/" ;

            });
        });
    </script>
	{% endblock %}


{% endblock body %}